@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

/*
body{
    background-color:darkslateblue;
    font-size:1.1em;
    font-family: "Roboto", sans-serif;
}
*/

.contents{
    padding: 15px;
/*    z-index: 0;*/
    margin:auto;
    padding: 2px;
    background-image: url(photos/pen-2630363_1920.png)
}

h1{
    text-align: center;
}
.navbar {
    overflow: hidden;
    background-color: #36d92e;
    margin-top:-8px;
    z-index: 3;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top:10px;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    margin-top:10px;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size:16px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.tit{
    text-align: center;
    margin-right: 470px;
}
.footer{
    width:1600px;
    background-color: blue;
    margin-left:144px; 
}